.containerCards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 20px;
}

.userCard {
  display: flex;
  gap: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
}

button {
  border-radius: 10px;
  border: none;
  padding: 10px;
}
